/my-app
/.vscode
/app/backend/product_images
/app/backend/.env
/app/backend/__pycache__
/app/backend/venv/Lib
/app/backend/venv
/app/backend/venv
/app/backend/__pycache__
/app/my-app/venv
*.env
/app/backend/node_modules
/app/backend/static
*.pyc
*Dockerfile
*.log
*.DS_Store
